<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean name="ingredientDAO" class="dao.IngredientDAOImpl">
    </bean>
    <bean id="ingredientService" class="service.IngredientServiceImpl" autowire="constructor">
        <constructor-arg index="0" ref="ingredientDAO"/>
    </bean>

    <bean name="beverageDAO" class="dao.BeverageDAOImpl">
    </bean>
    <bean id="beverageService" class="service.BeverageServiceImpl" autowire="constructor">
        <constructor-arg index="0" ref="beverageDAO"/>
    </bean>

    <bean name="equipmentDAO" class="dao.EquipmentDAOImpl">
    </bean>
    <bean id="equipmentService" class="service.EquipmentServiceImpl" autowire="constructor">
        <constructor-arg index="0" ref="equipmentDAO"/>
    </bean>


</beans>